
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
:root{
    --header-height:60px;

    --color-1: #fff;
    --color-2: #e6e6e6;

    --color-t-1: #202020;
    --color-t-2: #181818;
}
html,
body{
    margin:0;
}
*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body.themeDack{
    --color-1: #202020;
    --color-2: #181818;

    --color-t-1: #fff;
    --color-t-2: #e4e4e4;
}
body{
    background-color:var(--color-1,"#fff");
    color:var(--color-t-2,#909090);
    min-height:100vh;
    display:flex;
    flex-wrap:wrap;
    padding-top: 55px;
    padding-bottom: 35px;
}
.container{
    width:100%;
    padding: 0 15px;
}
h1,h2,h3,h4,h5,h6{
    color:var(--color-t-1,#202020);
}
.uppercase{
    text-transform:uppercase;
}
table{
    width: 100%;
    border-collapse: collapse;
}
table,thead,tbody,tfoot,tr,th,td{
    border: 1px solid;
}
tr,th,td{
    padding: 5px 10px;
}
a{
    font-weight:700;
    cursor:pointer;
    color:var(--color-t-2,#909090);
    text-decoration: none;
}
.overflow_tabla{
    width:100%;
    overflow:auto;
}
.d-block{
    display:block;
}
footer{
    width:100%;
    background-color:var(--color-2,"#909090");
    padding: 5px 15px;
    margin-top:auto;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;

    position: fixed;
    z-index: 9;
    left: 0;
    bottom: 0;
}
.d-none{
    display:none;
}


.contentLogin{
    width:100%;
    max-width:400px;
    margin: auto;
    padding: 20px 0;
}
label{
    display:block;
    margin-bottom:20px;
}
label span{
    display:block;
    margin-bottom:5px;
    font-size:20px;
}
input,
button{
    font-size:20px;
    width:100%;
    padding: 10px 15px;
    border:0;
    outline:none !important;
}
button{
    text-align:center;
    cursor:pointer;
    transition: .5s;
    border: 3px solid var(--color-t-1, #fff);
}
button:hover{
    background:var(--color-1, #202020);
    color:var(--color-t-1, #fff);
}



#panel .head {
    width:1000px;
    max-width:100%;
    padding:10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    background-color: var(--color-2,"#909090");

    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 53px;
}
#panel .head .btnPanel {
    display:inline-block;
    padding:3px 5px;
    border:2px solid;
    margin-bottom: 0;
    cursor: pointer;
}
.mL{
    margin-left: auto;
}
.collapceInput{
    display: none;
}
input:checked + .collapceInput{
    display: block;
}
.btnC{
    display: inline-block;
    padding: 3px 5px;
    border: 2px solid;
    cursor: pointer;
}
#selectCuenta{
    display: inline-block;
    padding: 3px 5px;
    height: 32px;
    margin: 0;
    border: 2px solid;
    background: #181818;
    color: #fff;
    font-weight: 700;
}
th[key]{
    cursor: pointer;
}
th[key] .content{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.arrow.orderby{
    width:8px;
    height:2px;
    background:#fff;
    margin:0 3px;
    display: inline-block;
    position: relative;
}
th[key][order="none"] .arrow.orderby:after,
th[key][order="none"] .arrow.orderby:before,
th[key][order="down"] .arrow.orderby:after,
th[key][order="top"] .arrow.orderby:before{
    display: none;
}

.arrow.orderby:after,
.arrow.orderby:before{
    content: "";
    position: absolute;
    left: 0;
    border: 4px solid transparent;
    display: block;
}
.arrow.orderby:before{
    top: calc(100% + 4px);
    border-top-color: #fff;
}
.arrow.orderby:after{
    bottom: calc(100% + 4px);
    border-bottom-color: #fff;
}
.input{
    width: 200px;
    padding: 0 5px;
    font-size: 16px;
    margin: 0 10px;
}
.input_search,
.input_select{
    width: 425px;
}
.btn_filter{
    width: auto;
    padding: 0 5px;
    font-size: 16px;
}
#filters{
    width: auto;
    display: none;
}
#checkboxFilter:checked + #filters{
    display: table;
}
body.load:before,
body.load:after{
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 9999999;
    position: fixed;
    display: block;
}
body.load:before{
    width: 100%;
    height: 100%;
    opacity: .5;
    background-color: #fff;
}
body.load:after{
    width: 300px;
    height: 300px;
    border-radius: 100%;
    border:10px solid #fff;
    border-top-color: transparent;
    animation: rotateLoad 5s infinite;
}
@keyframes rotateLoad{
    0%{
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(360deg);
    }
}